{% block container %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PCParts.Ge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">


            <li class="nav-item">
                <a class="nav-link p-0" href="https://tbcbank.ge/ka/tbc-education/tech-school/web-programming">
                    <img src="{{ url_for('static', filename='images/logo.png') }}"
                         alt="Logo"
                         height="32">
                </a>
            </li>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/cart">
                            <span class="badge bg-secondary">{{ cart_items }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                 class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                        </a>
                    </li>



                    {% if current_user.role == "Admin" %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/create_product">create</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex" role="search">
                    {% if current_user.is_authenticated %}
                    <div class="row mx-2">
                        <strong> Hello, {{ current_user.username }}</strong>
                    </div>
                    {% endif %}
                    <div class="btn-group">
                        {% if current_user.is_authenticated %}
                        <a class="btn btn-outline-danger" type="submit" href="/logout">Logout</a>
                        {% else %}
                        <a class="btn btn-nooutline" type="submit" href="/login">Login</a>

                        {% endif %}
                    </div>
                </form>
            </div>
    </div>
</nav>

{% endblock %}